

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palette+Mosaic&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #f0f0f0 ;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}

.logo{
    text-decoration: none;
    color: rgb(15, 113, 179);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.2em;
    padding-right: 950px;
    cursor: default;
    font-family: 'Palette Mosaic';
}

.teleport a{
    color: rgb(33, 99, 143);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;}

.teleport a:hover{
    color: rgb(29, 140, 173);
}

.teleport a::after{
    content: '';
    height: 3px;
    width: 0;
    background: rgb(33, 99, 143);
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.teleport a:hover::after{
    width: 100%;
}

.teleport:hover{
    background-size: 10px;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(Images/Background.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    --background: #000000;
}

.main h2{
    color: #fff;
    font-size: 1.8em;
    font-weight: 500;
}

.main h3{
    display: inline-block;
    margin-top: 10px;
    color: rgb(230, 24, 24);
    font-size: 3em;
    font-weight: 600;
}

.main h4{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn{
    color: #fff;
    background-color: rgb(15, 113, 179);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: 0.7s ease;
    cursor: default;
}

.main-btn:hover{
    background-color: rgb(47, 120, 168) ;
    transform: scale(1.1);
}

.social-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 40px;
    cursor: default;
    padding-bottom: 200px;
}

.title{
    display: flex;
    justify-content: center;
    color: rgb(15, 113, 179);
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction:row;
    flex-wrap: wrap;
}

.card{
    background-color: #fff;
    width: 25.4em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.23);
    border-radius: 10px;
    padding: 25px;
    margin: 25px;
    transition: 0.7s;
}

.card:hover{
    transform: scale(1.1);
}

.icon{
    color: rgb(15, 113, 179);
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}


.info h2{
    color: rgb(15, 113, 179);
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.videos{
    background-color: aliceblue;
}

.videos .content{
    margin-top: 30px;
}

.videos-card{
    background-color: #fff;
    width: 25.4em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.23);
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    transition: 0.7s;
}

.videos-card:hover{
    transform: scale(1.1);
}

.videos-image img{
    width: 100%;
}

.videos-info{
    padding: 1em;
}

.videos-c{
    font-size: 0.8em;
    color: #000;
}

.video-title{
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.video-title a{
    display: flex;
    justify-content: space-between;
}

.more-details{
    text-decoration: none;
    color: rgb(15, 113, 179);
    background-color: #fff;
    transition: 0.7s;
    cursor: default;
}

.more-details a:hover{
    background-color: rgb(143, 143, 143);
    box-shadow: 0 5px 25px rgba(1, 1, 1, 0.23);
    transform: scale(1.1);
}

.scripthub-btn{
    color: #fff;
    background-color: rgb(143, 143, 143);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 10px;
    transition: 0.7s ease;
    cursor: default;
}

.scripthub-btn:hover{
    background-color: rgb(122, 122, 122) ;
    transform: scale(1.1);
}
